<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).slideUp();
  $('.js-comments-count').html("<%= @post.comments.count %> Comments");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>